<?xml version="1.0"?>
<launch>
    <arg name="test" default="false"/>
    <arg name="scene_file" default="$(find project_ariac)/config/ariac.scene"/>
    <include file="$(find ur10_moveit_config)/launch/ur10_moveit_planning_execution.launch">
        <arg name = "sim" value="true"/>
        <!-- <arg name = "limited" value ="false"/> -->
    </include>
    <node name = "moveit_publish_scene_from_text"
        pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    <node name = "project_ariac_node"
        pkg="project_ariac" type = "project_ariac_node" output = "screen">
        <param name="run" value="$(arg test)"/>
        <param name="end_link" value= "/ee_link" />
        <param name="base_link" value= "/world" />
        <param name = "elbow_joint" value = "0" />
        <param name = "linear_arm_actuator_joint" value = "3.1" />
        <param name = "shoulder_lift_joint" value = "-1.1" />
        <param name = "shoulder_pan_joint" value = "1.9" />
        <param name = "wrist_1_joint" value = "3.9" />
        <param name = "wrist_2_joint" value = "4.7" />
        <param name = "wrist_3_joint" value = "0.0" />
        <param name = "z_offSet_" value = "0.025" />
        <param name = "planner" value ="RRTConnectkConfigDefault"/>
        <param name = "planning_time" value="200"/>
        <param name = "planning_attempt" value="10"/>
        <param name = "scene" value="$(arg scene_file)"/>
    </node>

</launch>
